<!-- <p>data-table works!</p> -->
<div class="table-view">
    <div class="title">
        <span>
            Patient List
        </span>
    </div>
    <p-table [value]="patientList">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
                <th>Gender</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-list>
            <span *ngIf></span>
            <tr>
                <td>{{list.name}}</td>
                <td>{{list.age}}</td>
                <td>{{list.city}}</td>
                <td>{{list.gender}}</td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="!patientList.length" class="no-data">
        <span>
            No data found
        </span>
    </div>
</div>
